/* Cards */


.supplier-example {
    height: 100px;
    display: flex;
}

.card {
    margin-left: 20px;
}

.inner-main {
    margin-top: 40px;
    width: 500px;
}

.supplier-text,
.inner-main,
main {
    text-align: center;
}